.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

header {
  max-width: 1020px;
}

main {
  max-width: 920px;
}

.logos {
  max-width: 49px;
  max-height: 59px;
}

.mobileLogo {
  height: 90px;
  width: 90px;
}

.ethereumLogo {
  width: 50px;
  height: 75px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

@media screen and (max-width: 768px) {
  thead,
  .mobileHidden {
    display: none;
  }
}
