.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-around;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.logos {
  max-width: 49px;
  max-height: 59px;
}

.clicked-logos {
  width: 60px;
  height: 75px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 767px;
  }

  /* To show the mobile version on Chrome. */

  .hiddenInDesktop {
    display: none;
  }
}

/* Mobile Related */
.mobileLogo {
  height: 90px;
  width: 90px;
}

.mobileSelector {
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
  thead,
  /* To hide the desktop List.*/
  .hiddenInMobile {
    display: none;
  }

  .container {
    min-width: 520px;
  }
}

.modalContainerOn {
  display: inline;
  top: 0;
  left: 0;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.modalContainerOff {
  display: none;
}

.modalContent {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 50%;
  height: 34%;
}

.trial {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.mobileModalContainerOff {
  display: none;
}

.mobileModalContainerOn {
  display: inline;
  top: 0;
  left: 0;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.mobileModalContent {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 70%;
  height: 20%;
}
