table {
  border-collapse: collapse;
}

thead {
  background-color: #c4c4c4;
  font-size: 23px;
}

td,
.selector,
.logoContainer {
  background-color: #f3f1f1;
}

h1 {
  font-size: 3rem;
}

td,
th,
.selector {
  border: solid 1px black;
}

.numbers {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}

.letters {
  font-family: 'Karla', sans-serif;
  font-size: 1.4rem;
}

.align-center {
  align-self: center;
}

.padding-left-sm {
  padding-left: 25px;
}

.padding-left {
  padding-left: 50px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.paddingForTable {
  padding: 0 12px 0 12px;
}

.text-align-center {
  text-align: center;
}

.saveButton {
  background-color: #6dfd8a;
}

.cancelButton {
  background-color: #f48d8d;
}

.button {
  border-radius: 14px;
  border: 0 solid;
  width: 150px;
  height: 40px;
}

.textButton {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
}

textarea {
  resize: none;
  width: 350px;
  height: 90px;
  border: 2px solid black;
}

/* Red/Green Feature on Numbers */
.header-tendies {
  text-align: center;
  color: #00b424;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.6rem;
}

.tendies {
  text-align: center;
  color: #00b424;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}

.losses {
  text-align: center;
  color: #ff5964;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}

.neutral {
  text-align: center;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}

/* Mobile Related */

.mobileChad {
  width: 100px;
  height: 90px;
  align-self: flex-end;
}

.mobileDoge {
  width: 100px;
  height: 75px;
  align-self: flex-end;
}


/* Red/Green feature for Mobile Only Numbers */

.mobileTendies {
  color: #00b424;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}

.mobileLosses {
  color: #ff5964;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}

.mobileNeutral {
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}
