.container,
html {
  background-color: #fffaf3;
}

#cryptoView {
  background-color: rgba(255, 255, 255, 0.63);
}

table {
  border-collapse: collapse;
}

thead {
  background-color: #c4c4c4;
  font-size: 23px;
}

td,
.selector {
  background-color: #f3f1f1;
}

.background-color {
  background-color: white;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spinner {
  opacity: 1;
  transition: opacity linear 0.1s;
}

.spinner::before {
  animation: 2s linear infinite spinner;
  border: solid 3px #eee;
  border-bottom-color: #ef6565;
  border-radius: 50%;
  content: "";
  height: 90px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
  width: 90px;
  will-change: transform;
}

h1 {
  font-size: 3rem;
}

td,
th,
.selector {
  border: solid 1px black;
}

.numbers {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}

.letters {
  font-family: 'Karla', sans-serif;
  font-size: 1.4rem;
}

.letter-header {
  font-family: 'Karla', sans-serif;
  font-size: 4rem;
}

.max-width-numbers {
  max-width: 120px;
}

.align-center {
  align-self: center;
}

.click-bot-top-pad {
  padding-top: 0.8rem;
  padding-bottom: 1.5rem;
}

.padding-top-med {
  padding-top: 1.8rem;
}

.padding-left-med {
  padding-left: 2rem;
}

.padding-left {
  padding-left: 2rem;
}

.padding-bottom {
  padding-bottom: 0.7rem;
}

.padding-for-table {
  padding: 0 0.4rem 0 0.4rem;
}

.text-align-center {
  text-align: center;
}

.save-button {
  background-color: #6dfd8a;
}

.cancel-button {
  background-color: #f48d8d;
}

.button {
  border-radius: 14px;
  border: 0 solid;
  width: 45%;
  height: 40px;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
}

textarea {
  resize: none;
  width: 80%;
  height: 90px;
  border: 2px solid black;
}

/* Red/Green Feature on Numbers */
.header-tendies {
  text-align: center;
  color: #00b424;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.6rem;
}

.tendies {
  text-align: center;
  color: #00b424;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}

.losses {
  text-align: center;
  color: #ff5964;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}

.neutral {
  text-align: center;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}

button,
.fa-sticky-note,
.clickable,
#returnButton,
.fa-sort {
  cursor: pointer;
}

.hovered {
  transition: ease 1.4s;
}

.hovered:hover {
  transform: scale(1.03);
}

.indiv-hover {
  transition: ease 1s;
}

.indiv-hover:hover {
  transform: scale(1.1);
}

/* Mobile Related */

/* Red/Green feature for Mobile Only Numbers */
.mobile-tendies {
  color: #00b424;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}

.mobile-losses {
  color: #ff5964;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}

.mobile-neutral {
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}

.mspinner {
  opacity: 1;
  transition: opacity linear 0.1s;
}

.mspinner::before {
  animation: 2s linear infinite spinner;
  border: solid 3px #eee;
  border-bottom-color: #ef6565;
  border-radius: 50%;
  content: "";
  height: 90px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
  width: 90px;
  will-change: transform;
}
